// Mixins Here

.center (){
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-button(){
    display: flex;
    justify-content: center;
    align-items: center;
}


//Parametric Animation 

.keyframes(@name; @arguments) {
	@-moz-keyframes @name { @arguments(); }
	@-webkit-keyframes @name { @arguments(); }
	@keyframes @name { @arguments(); }
}

.animation(@arguments) {
	-webkit-animation: @arguments;
	-moz-animation: @arguments;
	animation: @arguments;
}


//Parametric button

.btn-class {
    border-radius: 3px;
    color: @porcelain;
    background-color: @btn-bg-color;
    max-width: 500px;
    justify-content: flex-start;
    width: 20%;
    display: inline-block;
    height: 2.3rem;
    font-family: @main-font;
    text-align: center;
    
    &:hover {
        text-decoration: none;
        color: @btn-bg-color;
        background-color: @main-font-color;
    }
     @media @mobile {
        width: 720%;
        height: 5rem;
        justify-content: center;
        order: 100;
    }
 }

 .btn {
    border-radius: 3px;
    color: @porcelain;
    background-color: @btn-bg-color;
    max-width: 500px;
    justify-content: flex-start;
    width: 30%;
    display: inline-block;
    height: 1.5rem;
    font-family: @main-font;
    text-align: center;
 }
 